@model IEnumerable<APCGaming.Models.TrangThaiDonHang>

@{
    ViewData["Title"] = "Quản lý trạng thái đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<p>
    <a asp-action="Create">Tạo mới trạng thái đơn hàng</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Trạng thái đơn hàng</th>
                <th scope="col">Mô tả</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.TrangThaiDonHangId</th>
                        <td>@item.Ten</td>
                        <td>@item.MoTa</td>
                        <td>
                            <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminTrangThaiDonHangs"
                               asp-action="Details" asp-route-id="@item.TrangThaiDonHangId">View</a>
                            <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminTrangThaiDonHangs"
                               asp-action="Edit" asp-route-id="@item.TrangThaiDonHangId">Edit</a>
                            <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="AdminTrangThaiDonHangs"
                               asp-action="Delete" asp-route-id="@item.TrangThaiDonHangId">Delete</a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>